---
import TestimonialSlider from "@/layouts/function-components/TestimonialSlider";
const { testimonial } = Astro.props;
const safeTestimonial = testimonial || {};
---

<section class="reviews">
  <div class="container">
    <div class="row justify-between">
      <div class="lg:col-6">
        <h2>{safeTestimonial.title}</h2>
      </div>
      <div class="lg:col-4">
        <p>
          {safeTestimonial.description}
        </p>
      </div>
    </div>
    <div class="row mt-10">
      <div class="col-12">
        <TestimonialSlider list={safeTestimonial.testimonial_list} client:load />
      </div>
    </div>
  </div>
</section>
